   body { font-family: Arial, sans-serif; margin: 0; padding: 20px; background-image: url(https://media.istockphoto.com/id/1345214030/video/4k-background-of-business-data-stock-market-showing-pie-charts-numbers-and-graphs.jpg?s=640x640&k=20&c=q8Jtsu7L5nDGqq5apXkpyHZTSRzVR3bhDhYq5S3pd7s=);
   background-repeat: no-repeat;
    background-size: cover;
      }
    h1 { text-align: center; }
    .container { max-width: 800px; margin: auto; background: rgb(255, 255, 255); padding: 20px; border-radius: 10px; box-shadow: 0 0 10px #ddd; }
    form { display: flex; gap: 10px; flex-wrap: wrap; margin-bottom: 20px; }
    input { flex: 1; padding: 8px; border: 1px solid #ccc; border-radius: 5px; }
    button { padding: 8px 12px; border: none; border-radius: 5px; cursor: pointer; }

    table { width: 100%; border-collapse: collapse; margin-top: 10px; }
    th, td { padding: 10px; border: 1px solid #ddd; text-align: center; }
    th { background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20220522/pngtree-different-data-compilation-collection-content-image_1374981.jpg); }
   .container{
        margin-top: 150px;
   }
   